@font-face {
  font-family: 'Graphik LCG Bold';
  src: local('Graphik LCG Bold'), local('Graphik-LCG-Bold'),
  url('fonts/GraphikLCG-Bold.woff2') format('woff2'),
  url('fonts/GraphikLCG-Bold.woff') format('woff'),
  url('fonts/GraphikLCG-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: local('Graphik LCG Regular'), local('Graphik-LCG-Regular'),
  url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
  url('fonts/GraphikLCG-Regular.woff') format('woff'),
  url('fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.MoviePage{
  width: 1000px;
  height: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;

}

.MoviePageRollAndLoading{
  margin-top: 100px;
}

.MoviePagePoster{
  margin-left: 50px;
  margin-top: 50px;
  width: 270px;
  height: 400px;
}

.MoviePageNames{
  margin-left: 50px;
  margin-top: 50px;
  width: 600px;
  height: fit-content;
  font-family: "Graphik LCG Bold";
}

.MoviePagePoster img{
  width: 270px;
  height: 400px;
}

.MoviePageDescription{
  margin-top: 25px;
  margin-left: 50px;
  width: 600px;
  height: fit-content;
  font-family: "Graphik LCG";
}
.MoviePageYear{
  margin-top: 25px;
  margin-left: 50px;
  width: 600px;
  height: fit-content;
  font-family: "Graphik LCG";
}
.MoviePageRating{
  margin-left: 150px;
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
  font-size: 50px;
  font-family: "Graphik LCG Bold";
}
.MoviePageFilmLength{
  margin-left: 50px;
  width: 600px;
  height: fit-content;
  font-family: "Graphik LCG";
}
.MoviePageGenres{
  margin-left: 50px;
  width: 600px;
  height: fit-content;
  font-family: "Graphik LCG";
}
.MoviePageCountry{
  margin-left: 50px;
  width: 600px;
  height: fit-content;
  font-family: "Graphik LCG";
}
.MoviePageLink{
  margin-left: 50px;
  margin-top: 10px;
  width: 600px;
  height: fit-content;
  font-family: "Graphik LCG";
}
.MoviePageButtons{
  display: flex;
  flex-direction: row;
}