.StartPage{
  width: 400px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
